*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.background {
    width: 100%;
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.background header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background header h1 {
    font-size: 20px;
}

.container {
    width: 1300px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.container article {
    width: 60%;
    margin-top: 41px;
}
.container article ul {
    display: flex;
    flex-wrap: wrap;
}
.container article ul li {
    width: 287px;
    height: 382px;
    margin: 0px 30px 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container article ul li figure {}
.container article ul li figure img {
    max-width: 286px;
}
.container article ul li section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    width: 287px;
    height: 196px;
}
.container article ul li section h3 {
    margin-top: 16px;
}
.container article ul li section h3 a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #0D0D0E;
}
.container article ul li section p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #343A40;
}
.container article ul li section span {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #343A40;
}

.container aside {
    width: 30%;
    height: 850px;
    margin-top: 41px;
    display: flex;
    flex-direction: column;
}
.container aside section {
    width: 366px;
    height: 300px;
    display: flex;
}
.container aside h2 {
    font-size: 18px;
}
.container aside section ul {
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.container aside section ul li {
    display: flex;
}
.container aside section ul li figure {}
.container aside section ul li figure img {
    max-width: 70px;
}
.container aside section ul li h3 {
    margin-left: 17px;
}
.container aside section ul li h3 a {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #0D0D0E;
}